@import "src/theme.scss";

.card {
  background-color: $primary-background;
  border-color: $primary-color;
  box-shadow: 0 1px 1px $primary-background inset, 0 0 8px $primary-color;
  .card-title {
    color: $primary-color;
  }
  .card-text {
    color: white;
  }
}
